export(theme_bwblack, theme_miniblack, theme_classicblack)
export(stat_binomCI, StatBinomCI)
export(stat_ma, StatMA)
export(stat_ecdf2, StatEcdf2)
export(stat_sparkline, StatSparkline)
#export(searchConsole)
import(ggplot2)
importFrom(scales,alpha)
importFrom(grid,unit)
importFrom(grid,makeContext)
importFrom(ggplot2,layer)
